.i-img{
    width: 100px;
}



nav li:hover{
    background-color: brown;
}


.s-b-i{
    position: relative;
    top: 5px;
    border: transparent;
    border-radius: 25px;
    right: 42px;
    background: transparent;
}


.sec-1{
    background-image: url(../../assets/images/New\ Project.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-size: 100% 100%;
    padding: 205px 0px 0px 70px;
}

.sec-1 h1{
    font-size: 5rem;
}

.sec-1 p{
    font-size: 1.5rem;
}

.sec-2{
    background-image: url(../../assets/images/sec-2\ bg.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-size: 100% 100%;
}

.sec-2-bg-2{
    background-color: #303030;
    margin: 0px 40px 0px 40px;
}

.sec-2-img{
    width: 268px;
}

.sec-2-p{
    width: 500px;
    font-size: 1.2em;
}

@media (max-width:576px){
    .sec-1{
        height: 300px;
        padding: 120px 0px 0px 35px;
    }
    .sec-1 h1{
        font-size: 1.5rem;
        padding-top: 0px;
    }
    .sec-1 div div{
        width: 350px;
    }
    .sec-1 p{
        font-size: 1rem;
    }
    .sec-2-bg-2{
        margin: 0px;
    }
}

